[submodule "preprocess"]
	path = preprocess
	url = https://github.com/kpu/preprocess.git
    ignore = dirty
[submodule "fasttext"]
	path = fasttext
	url = https://github.com/facebookresearch/fastText.git
