[submodule "preprocess"]
	path = preprocess
	url = https://github.com/kpu/preprocess.git
    ignore = dirty
[submodule "cld2"]
	path = cld2
	url = https://github.com/bitextor/cld2.git
    ignore = dirty
